<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'company/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src={% static "js/apiRequest.js" %} type="text/javascript"></script>
    <title>Home</title>
</head>

<body>
    <div id="nav">
        <div id="logo">
            <img src="../../static/company/images/profile-image.jpg" />
            <h1 id="company-name"></h1>
        </div>
        <div id="links">
            <a href="">Home</a> |
            <a href="">Products</a> |
            <a href="">Company</a> |
            <a href="">Blog</a>
        </div>
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <div id="footer">
        <button>Contact</button>
        <div id="icons">
            <a href="">
                <img src="../../static/company/images/facebook-icon.png" />
            </a>
            <a href="">
                <img src="../../static/company/images/twitter-icon.png" />
            </a>
        </div>
    </div>
</body>

</html>