body,
html {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

#nav {
  height: 100px;
  padding-top: 25px;
}

#nav #logo {
  font-family: "Lobster Two", normal;
  margin-left: 10%;
  float: left;
}

#nav #logo img {
  width: 75px;
  height: 75px;
  margin: auto;
  float: left;
}

#nav #logo h1 {
  float: right;
  margin-left: 20px;
}
#nav #links {
  margin-right: 10%;
  float: right;
  margin-top: 20px;
}

h1 {
  font-size: 20px;
}

#hero-image {
  background-image: url("images/hero-image.jpg");
  min-height: 400px;
  height: 40%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.contain {
  width: 84%;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  height: 320px;
  align: center;
}

.contain img {
  width: 50%;
}

.category {
  position: center;
  display: inline-block;
  float: left;
  width: 33%;
  text-align: center;
}

.category p {
  width: 80%;
  margin: auto;
  margin-left: 20%;
  text-align: left;
}

.text-body {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#icons img {
  width: 20px;
}

#footer {
  margin-top: 50px;
  padding-bottom: 50px;
}

#footer button {
  margin-left: 10%;
  float: left;
  border-radius: 5px;
  padding: 5px 6px 5px 6px;
}

#footer #icons {
  margin-right: 10%;
  float: right;
}
